# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Environment / IDE settings
.env
.venv
env/
venv/
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Streamlit cache
.streamlit/

# Logs
*.log

# Development container
.devcontainer/

# Pytest cache
.pytest_cache/